<footer class="sticky-footer bg-white mb-5">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Quetzalblog - Copyright &copy; Quetzalcode <%= new Date().getFullYear(); %></span>
        </div>
    </div>
</footer>