<nav class="navbar navbar-expand-lg bg-body-success m-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white bg-black rounded-pill p-3" href="/">
      <img
        src="/img/quetzalcode.png"
        alt="Quetzalcode logo"
        width="64"
        height="64"
      />
      Quetzalblog
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#topNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link <%= locals.active ? 'active' : ''%>"
            aria-current="page"
            href="/"
            >Inicio</a
          >
        </li>
      </ul>
      <div class="d-grid gap-1">
        <a class="btn btn-dark" href="/ingresar">Ingresar</a>
      </div>
    </div>
  </div>
</nav>
