<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/fontawesome.css" />
    <link rel="stylesheet" href="/css/sweetalert.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="javascript" src="/js/bootstrap.js" defer></script>
    <script type="javascript" src="/js/fontawesome.js" defer></script>
    <script type="javascript" src="/js/sweetalert.js" defer></script>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('../partials/header.ejs') %> <%- body %> <%-
      include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
