<div class="container d-flex justify-content-center">
    <h1 class="text-center">Agregar un nuevo blog</h1>
    <form class="row g-3" method="POST">
        <div class="col-12">
            <label class="form-label">
                Titulo
            </label>
            <input type="text" class="form-control" required minlength="8" maxlength="128">
        </div>
        <div class="col-12">
            <label class="form-label">
                Contenido
                <br>
            </label>
            <textarea></textarea>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-dark">Ingresar</button>
        </div>
    </form>
</div>