<div class="d-none d-md-block mb-3">
  <img class="cover-page" src="/img/edificiod.png" alt="edificio d de la utl" />
</div>

<section class="articles">
  <div class="row mb-3">
    <div class="col">
      <h2 class="text-center">Ultimos articulos</h2>
    </div>
    <% if (nextPage !== null) { %>
    <div class="col text-end">
      <a href="/?pagina=" class="btn btn-dark">&lt; Ver otros posts</a>
    </div>
    <% } %>
  </div>
  <div class="row align-items-md-stretch mb-3">
    <% data.forEach(article => { %>
    <a
      class="col-md-6 text-decoration-none mb-3"
      href="/articulo/<%= article._id %>"
    >
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2><%= article.title %></h2>
        <small><%= article.created_at.toDateString() %></small>
        <p><%= article.body %></p>
      </div>
    </a>
    <% }) %>
  </div>
</section>
