<div class="d-none d-md-block">
  <img class="cover-page mb-3" src="/img/edificiod.png" alt="edificio d de la utl" />
</div>

<section class="articles">
  <div class="row mb-3">
    <div class="col">
      <h2 class="">Ultimos Posts</h2>
    </div>
    <div class="col text-end">
      <a href="/?pagina=" class="btn btn-dark">&lt; Ver otros posts</a>
    </div>
  </div>
  <div class="row align-items-md-stretch mb-3">
    <a class="col-md-6 text-decoration-none" href="#">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Titulo</h2>
        <p>Contenido</p>
      </div>
    </a>
    <a class="col-md-6 text-decoration-none" href="#">
      <div class="h-100 p-5 text-bg-light rounded-3">
        <h2>Titulo</h2>
        <p>Contenido</p>
      </div>
    </a>
  </div>
</section>
