<nav class="navbar navbar-expand-lg bg-body-success mb-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white bg-black rounded-pill p-3" href="/">
      <img
        src="/img/quetzalcode.png"
        alt="Quetzalcode logo"
        width="64"
        height="64"
      />
      Quetzalblog
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#topNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link <%= locals.active ? 'active' : ''%>"
            aria-current="page"
            href="/"
            >Inicio</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto px-5">
        Usuario
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="dropdown-item" href="/salir">Salir</a>
            </li>
          </ul>
        </li>
        <li class="nav-item d-none d-sm-block d-sm-block">
          <i class="fa-solid fa-user fa-2x"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
